.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.text-red {
    color:red;
}

.text-green {
    color: greenyellow;
}

.text-white {
    color: white;
}

.bg-black {
    background-color: black;
}

#content{
  background: gray;
  max-width: 400px;
}
